.app {
  height: 100vh;

  position: absolute;

  .sections {
    width: 100%;
    height: calc(100vh - 70px);

    // snap scrolling
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    
    // to avoid the navbar
    position: relative;
    top: 70px;

    // hide scrollbar
    scrollbar-width: none; // for firefox
    &::-webkit-scrollbar {
      display: none; // for the remaining
    }

    // for each element inside
    > * {
      width: 100vw;
      height: calc(100vh - 70px);
      
      // to snap
      scroll-snap-align: start;
    }
  }
}